@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* can now reference my font */
body {
    font-family: 'Lora';
    /*color: white;*/
    /*background-color: #2C3333;*/
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    color: #464444;
}

h4, li {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #171111;
}

.bodyText {
    color: #990000;
}